@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.fondo::after{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    #4c5868 20%, transparent 20%
  );
  background-size: 30px 30px;
  z-index: 1;
}