@import "tailwindcss";

:root {
  scroll-behavior: smooth;
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3);
  }
}

.animate-twinkle {
  animation: twinkle 3s ease-in-out infinite;
}

.animate-shine {
  animation: shine 3s ease-in-out infinite;
}

@keyframes shine {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
}

@keyframes meteor {
  0% {
    transform: translate(0, 0) rotate(120deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(120vw, 120vh) rotate(120deg);
    opacity: 0;
  }
}

/*.meteorito {
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,       //* punta blanca brillante 
    rgba(255, 255, 0, 0.8) 25%,      //* amarillo fuego 
    rgba(255, 165, 0, 0.6) 50%,      //* naranja 
    rgba(255, 69, 0, 0.4) 75%,       //* rojo 
    rgba(255, 69, 0, 0) 100%           //* desaparece 
  );
  filter: blur(10px);
  animation: meteor 10s linear infinite;
  animation-delay: 2s;  //podés randomizar 
}*/

.fondo::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#4c5868 20%, transparent 20%);
  background-size: 30px 30px;
  z-index: 1;
}
